<div th:fragment="myTeam" id="idMyTeam">

		<div th:if="${userHasTeam}">
		
			<div class="row">
				<div class="col-xs-9 col-md-9">
				<div id="myTeamContent">

						<div class="row">
							<div class="col-xs-3 col-md-3">

								<div class="img-box">
									<img src="https://steamuserimages-a.akamaihd.net/ugc/151262938627271690/C3A0A7313C653B47B2C8000DF872FCC736F954D6/"/>
								</div>

								<p>
									Team Name: <span th:text="${teamName}">Nombre de Team</span>
								</p>

								<div th:if="${isLeader}">Eres Team Leader</div>
								<div th:unless="${isLeader}">Eres Member</div>

							</div>
							<div class="col-xs-9 col-md-9">
								<div align="center">
								
									<p>Los miembros actuales son:</p>

									<table border="1">
										<tr>
											<td colspan="3">Id de Usuario</td>
											<td colspan="4">Nombre de Usuario</td>
											<td colspan="4">Tipo de Miembro</td>
											<div th:if="${isLeader}">
												<td colspan="4">Editar</td>
											</div>
										</tr>
										<th:block th:each="member : ${members}">
											<tr>
												<td colspan="3" th:text="${member.userId}">...</td>
												<td colspan="4" th:text="${member.name}">...</td>
												<td colspan="4" th:text="${member.type}">...</td>
												<div th:if="${isLeader}">
													<td colspan="4">Editar</td>
												</div>
											</tr>
										</th:block>
									</table>
									</div>
							</div>
						</div>
					</div>

					<div id="reclutar">
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<div class="panel-group">
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <div data-toggle="collapse" href="#collapse1">Ingresa los criterios de busqueda a considerar:<span class="glyphicon glyphicon-menu-down"></span></div>
								      </h4>
								    </div>
								    <div id="collapse1" class="panel-collapse collapse">
								    	<div class="row">
							    				<div class="col-xs-7 col-md-7">
							    					<div class="row">
							    						<div class="col-xs-6 col-md-6">
							    							<label for="pais">Pais:</label>
							    						</div>
							    						<div class="col-xs-6 col-md-6">
									    					<select class="form-control" id="pais" name="pais">
																<option th:value="0">Seleccionar</option>
																<option th:each="pais : ${paises}" th:value="${pais.codigo}" th:text="${pais.descripcion}">...</option>
															</select>
							    						</div>
							    					</div>
							    					<div class="row">
							    						<div class="col-xs-6 col-md-6">
							    							<label for="edad">Edad:</label>
							    						</div>
							    						<div class="col-xs-6 col-md-6">
							    							<input type="number" class="form-control" name="edad" id="edad" placeholder="Edad Mayor a" />
							    						</div>
							    					</div>
							    					<div class="row">
							    						<div class="col-xs-6 col-md-6">
							    							<label for="nickName">NickName:</label>
							    						</div>
							    						<div class="col-xs-6 col-md-6">
							    							<input type="text" class="form-control" name="nickName" id="nickName" placeholder="Nick Name / Id" />
							    						</div>
							    					</div>
							    					<div class="row">
							    						<div class="col-xs-6 col-md-6">
							    							<label for="email">Email:</label>
							    						</div>
							    						<div class="col-xs-6 col-md-6">
							    							<input type="text" class="form-control" name="email" id="email" placeholder="Email" />
							    						</div>
							    					</div>
							    					<div class="row">
							    						<div class="col-xs-6 col-md-6">
							    							<label for="pais">Jugador Actualmente:</label>
							    						</div>
							    						<div class="col-xs-6 col-md-6">
									    					<select class="form-control" id="estado" name="estado">
																<option th:value="1">Sin Team</option>
																<option th:value="2">Con Team</option>
															</select>
							    						</div>
							    					</div>
								    			</div>
							    				<div class="col-xs-5 col-md-5">
								    				<div class="row">
								    					<div class="col-xs-12 col-md-12">
								    						<div class="form-group container-fluid">
																<div class="col-lg-12">
																	<label>Roles:</label><br/>
																	&nbsp; <label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="1"/> Awper </label>
																	<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="2"/> Entry Fragger </label>
																	<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="3"/> Support </label>
																	<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="4"/> Lurker </label>
																	<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="5"/> Assault </label>
																</div>
															</div>
														</div>
								    				</div>
								    				<div align="right"><button class="btn btn-primary mb-2" onclick="javascript:btnDoSearchRecruitment()">Buscar</button></div>
								    			</div>
								    	</div>
								    </div>
								  </div>
								</div>
							</div>
						</div>

						
						<div id="reclutarResult">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div th:replace="/user/team/reclutarResult :: reclutarResult"></div>
								</div>
							</div>
						</div>

					</div>
				
				</div>
				<div class="col-xs-3 col-md-3">
					<div class="panel-group">
						<div th:if="${isLeader}">
							<div class="panel panel-info">
								<div class="panel-heading">
									<ul class="list-group">
										<li class="list-group-item" onclick="javascript:reclutar()"><a>Cambiar Rol</a></li>
										<li class="list-group-item" onclick="javascript:reclutar()"><a>Kick Member</a></li>
										<li class="list-group-item" onclick="javascript:deleteTeam()"><a>Eliminar Equipo</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<ul class="list-group">
									<li class="list-group-item" onclick="javascript:reclutar()"><a>Reclutar</a></li>
									<li class="list-group-item" onclick="javascript:reclutar()"><a>Editar Perfil</a></li>
									<li class="list-group-item" onclick="javascript:reclutar()"><a>Buscar Reto</a></li>
									<li class="list-group-item" onclick="javascript:reclutar()"><a>Ver Retos</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div th:unless="${userHasTeam}">
			<div id="showMesage">
				<div class="alert alert-info">Aun no tienes un equipo activo. <a href="javascript:btnBuildTeam();">Crea</a> o <a>Postula</a> a uno.</div>
			</div>
			<div id="buildTeam2">
				<div th:replace="/user/team/build :: buildTeam"></div>
			</div>
		</div>
		
		<input id="teamId" type="hidden" th:value="${teamId}" name="teamId"/>
		<input id="isLeader" type="hidden" th:value="${isLeader}" name="isLeader"/>
		<div th:replace="fragments/modal_confirm :: fragmentConfirmModal" />
		<div th:replace="fragments/modal_description :: fragmentDescriptionModal" />
</div>