<div th:fragment="buildTeam">
	<div class="container">
		<form action="#">
			<table border="1">
				<tr>
					<td><label th:text="Nombre" /></td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><label th:text="Abreviatura" /></td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><input id="btnDoBuildTeam" type="submit" value="crear" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>


<!-- <div th:fragment="buildTeam"> -->
<!-- 	<div class="container"> -->
<!-- 		<form action="#" th:action="@{/user/buildTeam}" th:object="${team}" -->
<!-- 			method="post"> -->
<!-- 			<table border="1"> -->
<!-- 				<tr> -->
<!-- 					<td><label th:text="Nombre" /></td> -->
<!-- 					<td><input type="text" th:field="*{name}" /></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td><label th:text="Abreviatura" /></td> -->
<!-- 					<td><input type="text" th:field="*{abreviatura}" /></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td><input type="submit" value="crear" /></td> -->
<!-- 				</tr> -->
<!-- 			</table> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- </div> -->