<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/header :: header-css" />
</head>
<body>

	<div th:replace="/fragments/header_user :: header" />

	<div class="container">

		<div class="starter-template">

			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div style="background-color: lightblue;">
							<p align="center"> Juego
							<select id="criteria">
							    <option th:value="0" th:text="Seleccionar"></option>
							    <option th:each="game : ${games}" th:value="${game.gameId}" th:text="${game.name}">...</option>
							</select>
							</p>
					</div>
					<div class="btn-group btn-group-justified">
						<a id="btnMyStats" href="#" class="btn btn-primary">My Game Stats</a> 
						<a id="btnEditProfile" href="#" class="btn btn-primary">Personal Profile</a>
						<a id="btnEditGameProfile" href="#" class="btn btn-primary">Game Profile</a>  
					</div>
				</div>
			</div>
			

			<br></br>

			<div id="verMyStats">
				<div th:include="/user/profile/myStats :: myStats"></div>
			</div>

			<div id="verEditProfile">
				<div th:replace="/user/profile/editProfile :: editProfile"></div>
			</div>

			<div id="verMyGameProfile">
				<div th:replace="/user/profile/myGameProfile :: myGameProfile"></div>
			</div>

			<form th:action="@{/logout}" method="post">
				<div align="right"><input type="submit" value="Sign Out" /></div>
			</form>

		</div>
	</div>
	<!-- /.container -->
	<div th:replace="/fragments/footer :: footer" />
	<script type="text/javascript" src="/solommr/js/user/profile.js"></script>
</body>
</html>