<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/header :: header-css" />

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="/fragments/header_user :: header" />

	<div class="container">

		<div class="starter-template">
			<h1>P&aacute;gina de Equipos ! </h1>

			<div class="container" style="width:auto;">
				<div style="background-color: lightblue;">
						<p align="center"> Juego
							<select id="criteria">
								<option value="0">Seleccionar</option>
								<option value="1">CSGO</option>
								<option value="2">DOTA</option>
<!-- 								<c:forEach var="item" items="${games}"> -->
<!-- 							    	<option value="${item.gameId}"></option> -->
<!-- 							    </c:forEach> -->
							</select>
						</p>
				</div>
				<div class="btn-group btn-group-justified">
					<a id="btnMyTeams" href="#" class="btn btn-primary">Mis Equipos</a> 
					<a id="btnBuildTeam" href="#" class="btn btn-primary">Crear Equipo</a> 
					<a id="btnSearchTeam" href="#" class="btn btn-primary">Buscar Equipo</a>
				</div>
			</div>

			<br></br>

			<div id="searchTeamBox" class="container" style="width: auto;" align="center">
				<div class="form-group row">
					<div class="col-xs-6">
						<input class="form-control input-sm" id="teamName" type="text" placeholder="Nombre/Id de Equipo" />
					</div>
					<div class="col-xs-2">
						<input id="btnDoSearch" type="submit" value="Buscar" />
					</div>
				</div>
			</div>
			
			<div id="idMostrarResultado">
				<div th:replace="/user/team/teamSearchResult :: teamSearchResult"></div>
			</div>
			
			<div id="buildTeamBox">
				<div th:include="/user/team/build :: build"></div>
			</div>

			<div id="teamProfile">
				<div th:replace="/user/team/profile :: profile"></div>
			</div>


			<div id="csgoBox">
				EQUIPOS DE CSGO
				<div th:include="/user/teamCSGO :: teamCSGO"></div>
			</div>
			<div id="dotaBox">
				EQUIPOS DE DOTA
			</div>

			<form th:action="@{/logout}" method="post">
				<div align="right"><input type="submit" value="Sign Out" /></div>
			</form>

		</div>

	</div>
	<!-- /.container -->
	<div th:replace="/fragments/footer :: footer" />
<!-- 	<script type="text/javascript" src="/js/user/team.js"></script> -->
	<script type="text/javascript" src="/solommr/js/user/team.js"></script>
</body>
</html>