<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Solo MMR - Comunidad Gamer</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template">
			<h1>Bienvenido a SoloMMR</h1>
			<p>Esta página ha sido creada para incrementar la escena competitiva entre los gamers de Latinoamerica.
			Arma tu equipo, recluta miembros en base a sus habilidades. Reta a otros equipos. Muestra de que estas hecho.
			Pronto mucho más..</p>
			<h2>
				Qué esperas!!! <a th:href="@{/user}">Iniciar Sesión</a>
			</h2>
		</div>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>