<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Solo MMR - Comunidad Gamer</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template">
			<h1>Página Inicio para los Usuarios</h1>
			<h2>
				1. Visita <a th:href="@{/admin}">página Admin</a>
			</h2>
			<h2>
				2. Visita <a th:href="@{/user}">página Usuario</a>
			</h2>
			<h2>
				3. Visita <a th:href="@{/about}">página normal</a>
			</h2>
		</div>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" />

</body>
</html>