<div th:fragment="editProfile" id="idFragmentEditProfile">

	<div class="container" align="center">
		<h3 th:inline="text">Perfil de [[${#httpServletRequest.remoteUser}]]</h3>
		<form action="#">
			<table border="1">
				<tr>
					<td><label th:text="Mail" /></td>
					<td><input type="text" th:value="${mail}"/></td>
				</tr>
				<tr>
					<td><label th:text="NickName" /></td>
					<td><input type="text" th:value="${nickName}"/></td>
				</tr>
				<tr>
					<td><label th:text="Celular" /></td>
					<td><input type="text" th:value="${celular}"/></td>
				</tr>
				<tr>
					<td><label th:text="Pais" /></td>
					<td><input type="text" th:value="${pais}"/></td>
				</tr>
				<tr>
					<td><label th:text="Edad" /></td>
					<td><input type="text" th:value="${edad}"/></td>
				</tr>
				<tr>
					<td><input id="btnSaveProfile" type="submit" value="Guardar" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>