<div th:fragment="editProfile" id="idFragmentEditProfile">

	<div class="container" align="center">
		<h3 th:inline="text">Perfil de [[${#httpServletRequest.remoteUser}]]</h3>
		<form action="#">
			<table border="1">
				<tr>
					<td>Mail:</td>
					<td><label th:text="${mail}"></label></td>
				</tr>
				<tr>
					<td>Pais:</td>
					<td><label th:text="${pais}"></label></td>
				</tr>
				<tr>
					<td>Edad:</td>
					<td><label th:text="${edad}"></label></td>
				</tr>
				<tr>
					<td>Steam Id:</td>
					<td><label th:text="${steamId}"></label></td>
				</tr>
			</table>
		</form>
	</div>
</div>