<div th:fragment="myGameProfile" id="idMyGameProfile">
	<div class="row">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<fieldset>	
					<div class="form-group" align="center">
						<label for="nickName">NickName: </label>
						<input type="text" name="nickName" id="nickName" placeholder="nickName" required="true" autofocus="true" th:value="${nickName}"/>
					</div>

					<div class="form-group" align="center">
						<label for="celular">Celular: </label>
						<input type="text" name="celular" id="celular" placeholder="celular" required="true" autofocus="true" th:value="${celular}"/>
					</div>

					<div class="form-group" align="center">
						<label for="description">Descripci&oacute;n Breve: </label>
						<textarea class="form-control" name="description" id="description" rows="10" maxlength="1000" th:text="*{description}"></textarea>
					</div>
					<h1 class="pull-right" id="count_message"></h1>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12" align="center">
					<label for="rol">Selecciona tus Roles: </label>
					<br></br>
					<div class="form-group container-fluid">
						<div class="col-lg-12">
							<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="1" th:checked="${isAwper}"/> Awper </label>
							<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="2" th:checked="${isEntryFragger}"/> Entry Fragger </label>
							<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="3" th:checked="${isSupport}"/> Support </label>
							<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="4" th:checked="${isLurker}"/> Lurker </label>
							<label class="checkbox-inline"> <input type="checkbox" id="rol" name="rol" value="5" th:checked="${isAssault}"/> Assault </label>
					</div>
				</div>
			</div>
		</div>
		<div align="center"><a id="btnUpdateGameProfile" onclick="javascript:btnUpdateGameProfile()" class="btn btn-primary">Actualizar</a></div>
	</div>
</div>