<!-- Modal confirm -->
<div th:fragment="fragmentDescriptionModal">
	<div class="modal" id="descriptionModal" style="display: none; z-index: 1050;">
		<div class="modal-dialog">
			<div class="modal-content">
		        <div class="modal-header" id="descriptionMessage">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
		          <textarea class="form-control" rows="5" id="comment"></textarea>
		        </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="descOk">Ok</button>
					<button type="button" class="btn btn-default" id="descCancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
